@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario-claro: #F3F5FC;
    --color-secundario-claro: #FFFFFF;
    --color-terciario-claro: #0A3871;
    --color-negro-claro: #000000;
    --color-gris-claro: #495057;

    --color-primario-oscuro: #181818;
    --color-secundario-oscuro: #282828;
    --color-terciario-oscuro: #E0E0E0;
    --color-negro-oscuro: #FFFFFF;
    --color-gris-oscuro: #F3F5FC;

    --color-primario: var(--color-primario-claro);
    --color-secundario: var(--color-secundario-claro);
    --color-terciario: var(--color-terciario-claro);
    --color-negro: var(--color-negro-claro);
    --color-gris: var(--color-gris-claro);
    --fuente-inter: "Inter", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-weight: 400;
    letter-spacing: 0em;
    color: var(--color-negro);
}

.contenedor {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;
}

.header_imagen {
    display: flex;
    align-items: center;
}

.header_imagen > img {
    width: 31.09px;
    height: 48px;
}

.header-button {
    display: flex;
    align-items: center;
}

.header button {
    background-color: var(--color-primario);
    color: var(--color-negro);
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.header button:hover {
    background-color: var(--color-secundario);
}

.material-icons {
    font-size: 24px;
}


main {
    height: 100%;
}

.encriptador {
    margin: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.encriptador_form {
    flex-basis: calc(65% - 80px);
}

.texto_usuario {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto_usuario > textarea {
    flex-basis: 100%;
    margin-top: 168px;
    font-family: var(--fuente-inter);
    font-size: 32px;
    line-height: 48px;
    color: var(--color-terciario);
    background-color: transparent;
    resize: none;
    border: none;
}

.texto_usuario > textarea:focus {
    outline: none;
}

.texto_usuario > textarea::-webkit-input-placeholder {
    color: var(--color-terciario);
}

.text_in_info {
    width: 100%;
    margin-bottom: 72px;
    position: relative;
}

.info {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.info > p {
    margin-left: 8px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-gris);
}

.info > img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: inline-block;
}

.texto_botones {
    display: flex;
    width: 100%;
}

.texto_botones > input {
    flex-basis: 50%;
    height: 67px;
    border: 1px solid var(--color-terciario);
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.texto_botones > input:hover {
    transform: scale(1.05);
}

.texto_botones > input:first-child {
    margin-right: 12px;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
}

.texto_botones > input:first-child:active {
    background-color: var(--color-negro);
}

.texto_botones > input:last-child {
    margin-left: 12px;
    background-color: var(--color-button-hover);
    color: var(--color-terciario);
}

.texto_botones > input:last-child:active {
    color: var(--color-primario);
    background-color: var(--color-negro);
}

.texto_salida {
    margin: 40px 40px;
    flex-basis: calc(35% - 80px);
}

.contenido_salida {
    position: relative;
    height: 100%;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
}

.contenido {
    height: 100%;
    margin: 40px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido > p:nth-child(2) {
    margin-top: 32px;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.contenido > p:nth-child(3) {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.imagen_salida {
    text-align: center;
}

.imagen_salida > img {
    width: 336px;
    height: 304px;
    object-fit: cover;
    display: inline-block;
}

#texto_out {
    flex-basis: calc(100% - (67px + 32px));
    font-family: var(--fuente-inter);
    font-size: 24px;
    line-height: 36px;
    color: var(--color-gris);
    background-color: transparent;
    resize: none;
    border: none;
}

#copiar {
    height: 67px;
    margin-top: 32px;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-terciario);
    border-radius: 24px;
    color: var(--color-terciario);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transform: scale(1);
    transition: transform 0.2s;
}

#copiar:hover {
    transform: scale(1.05);
}

#copiar:last-child:active {
    color: var(--color-secundario);
    background-color: var(--color-negro);
}

.invisible {
    display: none;
}

@media screen and (max-height: 600px) {
    .imagen_salida > img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-height: 500px) {
    .imagen_salida > img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 800px) {
    .encriptador {
        height: auto;
        flex-direction: column;
        width: calc(100% - 80px);
        align-items: center;
        justify-content: flex-start;
    }

    .encriptador_form {
        margin: 0;
        width: calc(100% - 80px);
        flex-basis: 50%;
    }

    .texto_usuario > textarea {
        height: 700px;
    }

    .text_in_info {
        margin-bottom: 0;
    }

    .texto_salida {
        margin: 40px 40px;
        width: calc(100% - 80px);
        flex-basis: 50%;
    }

    .imagen_salida > img {
        display: none;
    }

    .contenido > p:nth-child(2) {
        margin-top: 0;
    }

    .contenido > p:nth-child(3) {
        margin-top: 16px;
    }
}

@media screen and (max-width: 400px) {
    .encriptador {
        margin: 10px 16px;
        width: calc(100% - 32px);
    }

    .texto_salida {
        width: calc(100% - 32px);
    }

    .texto_botones {
        flex-direction: column;
    }

    .texto_botones > input {
        flex-basis: 50%;
        padding: 23px 0;
    }

    .texto_botones > input:first-child {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .texto_botones > input:last-child {
        margin-top: 12px;
        margin-left: 0;
    }
}

/* Pie de pagina */
.pie-pagina{
    font-family: var(--fuente-inter);
    margin: auto;
    padding: 10px 0;
    font-size: 12px;
    color: var(--color-negro);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}
.pgn{
    width: 25px;
    margin: 5 25px;
    padding: 5px 5px;
    border-radius: 50%; 
    filter: invert(0%);
}

body.oscuro .pgn {
    filter: invert(100%);
}

@media (max-width: 800px) {
    .pie-pagina{
        margin-top: auto;
        font-size: 10px;
    }

    .pgn{
        width: 20px;
        margin: 5 20px;
        padding: 5px 5px;
        border-radius: 50%;
    }
}

@media (max-width: 600px) {
    .pie-pagina{
        margin-top: 10rem;
        font-size: 10px;
    }

    .pgn{
        width: 20px;
        margin: 5 20px;
        padding: 5px 5px;
        border-radius: 50%;
    }
}